@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  overflow-x: hidden;
  overflow-y: overlay;
  font-size: Min(5vw, 24px);
}

#popup {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: #88888888;
  z-index: 5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#popup #popup-box {
  position: relative;
  width: 90%;
  background: #f0f0f0;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
}

@media (min-width: 800px) {
  #popup #popup-box {
    width: 640px;
    min-height: 320px;
  }
  #popup #popup-box #popup-box-top > img {
    width: 80px !important;
  }
  #popup #popup-box #popup-box-top h1 {
    margin-bottom: 6px;
    font-size: 1.1em !important;
  }
  #popup #popup-box #popup-box-top h3 {
    font-size: 0.8em !important;
  }
}

#popup #popup-box #popup-box-top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#popup #popup-box #popup-box-top > img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 2em;
  margin-right: 0.5em;
}

#popup #popup-box #popup-box-top h1 {
  margin-bottom: 6px;
  font-size: 0.65em;
}

#popup #popup-box #popup-box-top h3 {
  font-size: 0.5em;
}

#popup #popup-box p {
  font-size: 1em;
  margin-top: 20px;
  position: relative;
}

#popup #popup-box #popup-close {
  position: absolute;
  top: 25px;
  right: 25px;
}

#popup #popup-box #popup-close:hover {
  cursor: pointer;
}

#popup #popup-box::before {
  content: "";
  top: 0;
  right: 0;
  z-index: 0;
  position: absolute;
  background: white;
  width: 50%;
  height: 100%;
  -webkit-clip-path: polygon(75% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(75% 0, 100% 0, 100% 100%, 0% 100%);
}

header {
  z-index: 5;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f0f0f0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header img {
  width: 1.2em;
}

@media (min-width: 960px) {
  header img {
    width: 50px;
  }
}

header nav {
  margin-right: 1em;
}

header a {
  text-decoration: none;
  font-weight: 400;
  color: black;
  font-size: 1em;
  margin: 0 10px;
}

header a.active {
  color: #987700;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrapper.--column {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#wrapper.--row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 960px) {
  #wrapper.--row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

#content {
  width: Min(90vw, 960px);
  padding-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#toolbar {
  width: Min(90vw, 960px);
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 60px;
  padding: 10px;
  border-bottom: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 800px) {
  #toolbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin-top: 20px;
  }
  #toolbar #search {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
  }
  #toolbar #search .bar {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #toolbar #search .bar input {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
    margin-right: 10px;
  }
  #toolbar #filters {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-top: 0.6em;
  }
}

#toolbar #search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#toolbar #search .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#toolbar #search .bar::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 64px;
  left: 6px;
  top: 0;
  height: 1px;
  background: #f0f0f0;
}

#toolbar #search .bar::after {
  content: "Ilość kotów";
  position: absolute;
  z-index: 2;
  top: -8px;
  left: 10px;
  font-size: 11px;
  height: 1px;
}

#toolbar #search .bar input:not(:valid):not(:placeholder-shown) + p {
  visibility: visible;
}

#toolbar #search .bar input:not(:valid) ~ button {
  background-color: #ececec !important;
  color: #fff;
  outline: none;
}

#toolbar #search .bar input:not(:valid) ~ button:hover {
  cursor: default;
}

#toolbar #search .bar p {
  visibility: hidden;
  color: #ff000f;
  position: absolute;
  font-size: 10px;
  font-weight: 400;
  left: 10px;
  bottom: -15px;
}

#toolbar #search input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  height: 30px;
  padding: 0 8px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background: #f0f0f0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  outline: none;
  border: 1px solid transparent;
  -moz-appearance: textfield;
  margin-right: 38px;
}

#toolbar #search input::-webkit-inner-spin-button, #toolbar #search input::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

#toolbar #search input:not(:valid):not(:placeholder-shown) {
  border-color: #ff000f;
}

#toolbar #search input:valid {
  border-color: #01df32;
}

#toolbar #search input:focus {
  border-color: #0075ff;
}

#toolbar #search button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background: #ffdc64;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#toolbar #search button:hover {
  cursor: pointer;
}

#toolbar #filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#toolbar #filters .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 36px;
}

#toolbar #filters .filter p {
  margin-right: 8px;
  font-size: 0.7em;
}

#toolbar #filters .filter div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#toolbar #filters img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#toolbar #filters img:hover {
  cursor: pointer;
  background: #f0f0f0;
}

.worker {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.worker p {
  font-size: 14px;
  max-width: 80%;
}

.worker img {
  width: 30px;
  border-radius: 50%;
  margin-right: 13px;
}

.worker .icon-done {
  width: 24px;
  display: none;
  position: absolute;
  left: calc(100% - 24px - 12px);
}

.worker:hover {
  cursor: pointer;
  background: #fff;
}

.worker.--active {
  font-weight: bold;
  color: #004c8a;
}

.worker.--active .icon-done {
  display: block;
}

#left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f0f0f0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 960px) {
  #left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
    padding-top: 164px;
    min-width: 300px;
  }
}

#left #task-creator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  max-width: 275px;
  padding: 10px 0;
}

#left #task-creator-workers {
  position: relative;
  margin-bottom: 10px;
  border: none;
  outline: none;
}

@media (min-width: 960px) {
  #left #task-creator-workers {
    margin-bottom: 32px;
  }
}

#left #task-creator-workers-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 7px 12px;
  background: #f0f0f0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 4px;
  outline: none;
}

#left #task-creator-workers-button:hover {
  cursor: pointer;
  background-color: #e8e8e8;
}

#left #task-creator-workers-button:active {
  background: #f0f0f0;
}

#left #task-creator-workers-list {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 0;
  top: calc(100% + 8px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background: #f0f0f0;
  border: 1px solid #757575;
  border-radius: 4px;
  overflow: hidden;
}

#left #task-creator-workers-list input {
  height: 30px;
  margin: 8px;
  padding: 0 12px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  outline: none;
}

#left #task-creator-workers-list > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-top: 1px solid #757575;
  overflow-y: scroll;
  max-height: 148px;
}

#left #task-creator-workers-list > div::-webkit-scrollbar {
  width: 2px;
}

#left #task-creator-workers-list > div::-webkit-scrollbar-thumb {
  background: #757575;
}

#left #task-creator-workers.--active .arrow {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

#left #task-creator-workers.--active #task-creator-workers-list {
  visibility: visible;
}

#left #task-creator-workers .arrow {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

#left #task-creator textarea {
  background: #f0f0f0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 4px;
  padding: 12px;
  resize: none;
  font-weight: 600;
  font-family: Roboto;
  outline: none;
  margin-bottom: 16px;
}

@media (max-width: 960px) {
  #left #task-creator textarea {
    height: 40px;
  }
}

#left #task-creator textarea::-webkit-input-placeholder {
  color: #575757;
}

#left #task-creator textarea:-ms-input-placeholder {
  color: #575757;
}

#left #task-creator textarea::-ms-input-placeholder {
  color: #575757;
}

#left #task-creator textarea::placeholder {
  color: #575757;
}

#left #task-creator-add {
  background: #ffdc64;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 4px;
  outline: none;
  font-weight: 600;
  padding: 12px 0;
}

#left #task-creator-add:hover {
  cursor: pointer;
  background: #ffd545;
}

#left #task-creator-add:active {
  background: #ffdc64;
}

@media (min-width: 960px) {
  #center {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #center-toolbar {
    margin-top: 85px;
  }
}

#center-toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 0.5em;
}

#center-toolbar button {
  width: 33%;
  font-size: 0.6em;
  margin: 5px;
  padding: 0.6em;
  background: #ffdc64;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
  border-radius: 4px;
}

#center-toolbar button:nth-child(1) {
  margin-left: 0;
}

#center-toolbar button:nth-child(3) {
  margin-right: 0;
}

@media (min-width: 960px) {
  #center-toolbar button {
    padding: 0 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 195px;
    height: 46px;
    font-size: 14px;
    margin: 0 10px;
  }
}

#center-toolbar button:hover {
  cursor: pointer;
  background: #ffd545;
}

#center-toolbar button:active {
  background: #ffdc64;
}

#center-toolbar button.--active {
  font-weight: bold;
}

#center #task-list {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: relative;
}

@media (min-screen: 960px) {
  #center #task-list {
    margin-top: 32px;
  }
  #center #task-list .task {
    margin-bottom: 32px;
  }
}

#center #task-list .task {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90%;
  margin-bottom: 1em;
  background: #f0f0f0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 20px;
}

@media (min-width: 960px) {
  #center #task-list .task {
    max-width: 560px;
  }
}

#center #task-list .task h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  margin-bottom: 10px;
}

#center #task-list .task h1 img {
  border-radius: 50%;
  margin-right: 10px;
  width: 32px;
}

#center #task-list .task h3 {
  margin-bottom: 18px;
  font-size: 12px;
}

#center #task-list .task p {
  font-size: 13px;
  line-height: 15px;
  width: 86%;
}

#center #task-list .task > img {
  position: absolute;
  right: 20px;
}

#center #task-list .task > img:hover {
  cursor: pointer;
}

#center #task-list .task > img.task-done {
  top: 20px;
}

#center #task-list .task > img.task-delete {
  bottom: 20px;
}

#right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 76px;
}

@media (min-width: 960px) {
  #right {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

#right #summary {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(100% - 10px);
  bottom: 5px;
  position: fixed;
  background: #e2e2e2;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

#right #summary h1 {
  display: none;
  margin-bottom: 25px;
  font-size: 0.8em;
  text-align: center;
}

@media (min-width: 960px) {
  #right #summary {
    top: 234px;
    bottom: initial;
    width: initial;
    background: #f0f0f0;
    margin-right: 10px;
    padding: 20px;
  }
  #right #summary h1 {
    display: block;
  }
}

@media (max-width: 960px) {
  #right #summary-stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #right #summary-stats div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-bottom: 0 !important;
  }
  #right #summary-stats div:nth-child(2) {
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
  }
  #right #summary-stats p:nth-child(1) {
    font-weight: bold;
    margin-bottom: 0.25em !important;
  }
  #right #summary-stats p {
    margin: initial !important;
  }
}

#right #summary-stats div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

#right #summary-stats div p {
  font-size: 14px;
}

#right #summary-stats div p:nth-child(2) {
  margin-left: 30px;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 20px;
}

@media (min-width: 800px) {
  .box {
    width: calc(1 / 3 * 100%);
    margin-bottom: 40px;
  }
}

.box .cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 12px;
  background: #f0f0f0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.box .cat:hover {
  cursor: pointer;
  background: #e6e6e6;
}

.box .cat img {
  width: 50px;
  margin-right: 10px;
}

.box .cat .info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.box .cat h1 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}

.box .cat h3 {
  font-size: 10px;
  font-weight: 900;
  margin-bottom: 8px;
}

.box .cat p {
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */